<div class="fixed inset-0 z-200 bg-black/80  flex flex-col items-center justify-center p-4 "
    (click)="closeItem()">
    <div
      class="{{classAttribute()}}"
      [class.border-green-400]="selectedItem()!.rarity === 'N'"
      [class.shadow-[0_0_40px_#4ade80]]="selectedItem()!.rarity === 'N'"
      [class.border-blue-400]="selectedItem()!.rarity === 'R'"
      [class.shadow-[0_0_40px_#60a5fa]]="selectedItem()!.rarity === 'R'"
      [class.border-purple-500]="selectedItem()!.rarity === 'SR'"
      [class.shadow-[0_0_50px_#a855f7]]="selectedItem()!.rarity === 'SR'"
      [class.border-yellow-400]="selectedItem()!.rarity === 'SSR'"
      [class.shadow-[0_0_60px_#facc15]]="selectedItem()!.rarity === 'SSR'" (click)="$event.stopPropagation()">
      @if (selectedItem()!.rarity === 'SSR') {
      <div
        class="absolute inset-0 z-20 pointer-events-none bg-[radial-gradient(circle_at_center,transparent_50%,#fef08a_120%)] animate-pulse opacity-70">
      </div>
      <div
        class="absolute -top-10 -left-10 w-full h-full bg-white opacity-20 rotate-45 blur-xl animate-spin-slow pointer-events-none">
      </div>
      }

      <img [src]="selectedItem()!.url" [alt]="selectedItem()!.name" class="w-full h-full object-cover z-10 relative" />

      <div
        class="absolute  bottom-0 inset-x-0 bg-linear-to-t from-black/90 via-black/50 to-transparent p-6 pt-16 z-30 text-center">
        <span class="hidden md:inline-block px-3 py-1 rounded text-sm font-black mb-2 text-white  shadow-sm"
          [class.bg-green-500]="selectedItem()!.rarity === 'N'" [class.bg-blue-500]="selectedItem()!.rarity === 'R'"
          [class.bg-purple-500]="selectedItem()!.rarity === 'SR'"
          [class.bg-yellow-500]="selectedItem()!.rarity === 'SSR'">
          {{ selectedItem()!.rarity }}
        </span>
        <p class="text-sm md:text-3xl font-black text-white drop-shadow-[0_2px_4px_rgba(0,0,0,0.8)]">
          {{ selectedItem()!.name }}
        </p>
        @if (selectedItem()!.description) {
        <p class="text-gray-200 text-sm md:text-lg mt-2 font-medium">{{ selectedItem()!.description }}</p>
        }
      </div>

      <button (click)="closeItem()"
        class="absolute hidden md:flex top-4 right-4 z-40 bg-black/50 hover:bg-black/80 text-white rounded-full p-2  transition-colors cursor-pointer hover:scale-110 active:scale-95">
        <app-icons [name]="'close'" [classAttribute]="' md:h-6 md:w-6'"></app-icons>
      </button>
    </div>
  </div>
