<div
  class="pet-animate sprite-engine scale-100"
  [style.--index-y] = "currentAnimation()?.index_y"
  [style.--index-x-count] = "currentAnimation()?.index_x_count"
  [style.--seconds] = "currentAnimation()?.seconds" 
  [style.--frame-w] = "currentAnimation()?.frame_w"
  [style.--frame-h] = "currentAnimation()?.frame_h"
  [style.background-image]="'url(' + pet().url + ')'"
  [style.--tw-scale-x] = "currentAnimation()?.scale ? currentAnimation()?.scale : defaultScale()"
  [style.--tw-scale-y] = "currentAnimation()?.scale ? currentAnimation()?.scale : defaultScale()"
  [style.--tw-scale-z] = "currentAnimation()?.scale ? currentAnimation()?.scale : defaultScale()"
></div>
