/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
  font-family: 'MCFont';
  src: url('/fonts/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pixel: 'Pixelify Sans', sans-serif;
  --font-mc: 'MCFont', sans-serif;
  --color-primary: #d6336c;
  --color-secondary: #ff4081;
  --color-brand-pink: #ffb6c1;
  --color-brand-white: #fff5f8;
  --animate-smooth-appear: smooth-appear 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  --animate-petal:
    fall 10s linear infinite, sway 3s ease-in-out infinite,
    pulse 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-sway: sway-paper 3s ease-in-out infinite;
  --animate-cat: sprite-animate 1s steps(10) infinite;
  --frame-w: 32px;
  --frame-h: 32px;
  @keyframes smooth-appear {
    0% {
      transform: scale(0.8) translateY(30px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  @keyframes fall {
    0% {
      top: -10%;
    }
    100% {
      top: 110%;
    }
  }

  @keyframes sway {
    0%,
    100% {
      transform: translateX(0px) rotate(0deg);
    }
    50% {
      transform: translateX(50px) rotate(50deg);
    }
  }

  @keyframes sway-paper {
    0%,
    100% {
      transform: translateX(0px) rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }

  @keyframes sprite-animate {
    from {
      background-position-x: 0px;
    }
    to {
      background-position-x: calc(var(--index-x-count) * var(--frame-w) * -1);
    }
  }
}

@utility sprite-engine {
  --index-y: 0;
  
  width: var(--frame-w);
  height: var(--frame-h);

  background-repeat: repeat;
  image-rendering: pixelated;
  background-position-y: calc(var(--index-y) * var(--frame-h) * -1);
}

@utility cat-idle-1 {
  --index-y: 0;
  --index-x-count: 10;
  --seconds: 1s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-idle-2 {
  --index-y: 1;
  --index-x-count: 10;
  --seconds: 1s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-sleep {
  --index-y: 2;
  --index-x-count: 4;
  --seconds: 1.5s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-dance {
  --index-y: 3;
  --index-x-count: 4;
  --seconds: 0.7s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-yawn {
  --index-y: 4;
  --index-x-count: 8;
  --seconds: 2.5s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-excited {
  --index-y: 5;
  --index-x-count: 12;
  --seconds: 1.5s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-lay-stare {
  --index-y: 6;
  --index-x-count: 12;
  --seconds: 2s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-sleepy {
  --index-y: 7;
  --index-x-count: 9;
  --seconds: 3s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-cry {
  --index-y: 8;
  --index-x-count: 4;
  --seconds: 1s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-box-1 {
  --index-y: 9;
  --index-x-count: 12;
  --seconds: 2s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-box-2 {
  --index-y: 10;
  --index-x-count: 4;
  --seconds: 3s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-box-3 {
  --index-y: 11;
  --index-x-count: 4;
  --seconds: 3s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-surprise {
  --index-y: 12;
  --index-x-count: 12;
  --seconds: 2s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-eating {
  --index-y: 13;
  --index-x-count: 15;
  --seconds: 4s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-stand-stare {
  --index-y: 14;
  --index-x-count: 6;
  --seconds: 3s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-sit-sleepy-1 {
  --index-y: 15;
  --index-x-count: 13;
  --seconds: 3.5s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-mad {
  --index-y: 16;
  --index-x-count: 9;
  --seconds: 3s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-sit-sleepy-2 {
  --index-y: 17;
  --index-x-count: 12;
  --seconds: 4s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-side-eye {
  --index-y: 18;
  --index-x-count: 4;
  --seconds: 4s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-licking {
  --index-y: 19;
  --index-x-count: 11;
  --seconds: 5s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-dying {
  --index-y: 20;
  --index-x-count: 5;
  --seconds: 5s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}

@utility cat-sit-stare {
  --index-y: 21;
  --index-x-count: 4;
  --seconds: 5s;

  animation: sprite-animate var(--seconds) steps(var(--index-x-count)) infinite;
}


.main-btn {
  @apply relative bg-pink-400 border-4 border-pink-500 rounded-none cursor-pointer transition-all duration-200 shadow-[4px_8px_0_#db2777];
}

.main-btn:hover {
  @apply bg-pink-300 translate-y-1 shadow-[0_4px_0_#db2777];
}

.main-btn:active {
  @apply translate-y-2 shadow-none;
}

button:disabled {
  @apply opacity-30 pointer-events-none;
}

.nav-list {
  @apply relative cursor-pointer px-4 md:px-6 py-2 md:py-3 rounded-none font-bold text-base md:text-xl font-pixel text-pink-400 transition-all duration-300;
}

.nav-list:hover {
  @apply text-pink-600 bg-pink-100 scale-105 shadow-[0_4px_0_#fbcfe8] -translate-y-1;
}

.nav-list:active {
  @apply translate-y-0 shadow-none scale-95;
}

.nav-list-active {
  @apply translate-y-0 shadow-none scale-95 text-pink-600 bg-pink-100;
}
